---
import Layout from '../layouts/Layout.astro';

---

<Layout  title="Kerala Startup Mission">
	
    <div class="page-wrapper">
		<header class="main-header-three z-40">
            <nav class="main-menu main-menu-three">
                <div class="main-menu-three__wrapper">
                    <div class="main-menu-three__wrapper-inner">
                        <div class="main-menu-three__logo">
                            <a href="index.html"><img src="/cih_page/assets/images/img/logo-white.svg" class="md:w-24 w-20 " alt=""></a>
                        </div>
                        <div class="main-menu-three__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            
                        </div>
                        <div class="main-menu-three__search-cart-box">
                            <div class="main-menu-three__search-box">
                                <a href="#" class=" text-white hover:text-[#fc811b] text-sm" > Home</a>
                            </div>
                            <div class="main-menu-three__cart-box">
								<a onclick="openForm()" class="thm-btn main-slider__btn">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!--Main Slider Start-->
		<section class="main-slider">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
                <div class="swiper-wrapper">

                   

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(/cih_page/img/bg1.png);"></div>
                        <!-- /.image-layer -->

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title ">Construction <br> Innovation Hub </h2>
                                      
                                        <div class="main-slider__btn-box">
                                            <a onclick="openForm()" class="thm-btn main-slider__btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(/cih_page/img/bg1.png);"></div>
                        <!-- /.image-layer -->

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title ">Construction <br> Innovation Hub </h2>
                                      
                                        <div class="main-slider__btn-box">
                                            <a onclick="openForm()" class="thm-btn main-slider__btn">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="swiper-pagination" id="main-slider-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-left-arrow"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <i class="icon-right-arrow"></i>
                    </div>
                </div>

            </div>
        </section>
        <!--Main Slider End-->

        <!--About One Start-->
        <section class="about-one">
            <div class="about-one__shape-1 float-bob-y">
                <img src="/cih_page/assets/images/shapes/about-one-shape-1.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-one__left">
                            <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms"
                                data-wow-duration="2500ms">
                                <div class="about-one__img">
                                    <img src=/cih_page/img/ab11.png" alt="">
                                </div>
                                <div class="about-one__img-2">
                                    <img src=/cih_page/img/ab2.png" alt="">
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">A Joint Initiative of</span>
                                <!-- <h2 class="section-title__title">World largest & trusted
                                    construction co.</h2> -->
                            </div>
							<div class="about-one__points-box flex mx-auto items-center  flex-row  gap-3">
                                <div class=" mx-auto">
                                    
                                    <div class="about-one__points-content">
										<div class="">
                                            <img src="/cih_page/assets/images/img/logo.svg" class="lg:w-28 md:w-24 w-28">
                                        </div>
                                    </div>
                                </div>
                                <div class=" mx-auto">
                                    
                                    <div class="about-one__points-content">
                                        <div class="">
                                            <img src="/cih_page/assets/images/img/logo.svg" class="lg:w-28 md:w-24 w-28">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <p class="about-one__text text-justify">The Construction Innovation Hub (CIH) aims to promote Innovation and Sustainability in Construction in India by fostering collaboration, innovation, and knowledge sharing among stakeholders in the construction industry. CIH will be focused on exploring solutions that address some of the biggest challenges facing the construction industry today which includes labour shortages, building materials, environmental impact, project delays, adoption of technology and inefficiencies in the construction process. CIH will provide a platform for relevant stakeholders in the construction value chain comprising of tech / product startups, architects, engineers, designers, contractors, masons, carpenters, designers, policymakers, academics, and civil society organizations to come together and share their experiences, best practices, and solutions for sustainable construction.</p>
                           
							<p class="about-one__text text-justify mt-4" style="display: none;" id="ab2">CIH is committed to sustainability and aims to reduce the environmental impact of construction projects using sustainable materials, eco-friendly building techniques, and smart buildings. The Hub will also promote the development of markets for affordable construction solutions. This will involve working with developers, contractors, and government agencies to identify opportunities for affordable housing and infrastructure projects.</p>
                            <div class="about-one__btn-box mt-10 float-right">
                                <a  class="about-one__btn thm-btn p-1 cursor-pointer" onclick="toggleParagraph()" id="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About One End-->

        <!--Counter One Start-->
      

		<section class="counter-three pt-24">
            <div class="container">
                <div class="row">
                    <!--Counter Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="counter-three__single">
                            <div class="counter-three__count-box">
                                <h3 class="odometer" data-count="50">00</h3>
                                <span class="counter-three__plus">+</span>
                            </div>
                            <h3 class="counter-three__title">Startups</h3>
                            
                            <div class="counter-three__icon">
                                <span class="icon-trophy"></span>
                            </div>
                        </div>
                    </div>
                    <!--Counter Three Single End-->
                    <!--Counter Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="counter-three__single counter-three__single-2">
                            <div class="counter-three__count-box">
                                <h3 class="odometer" data-count="500">00</h3>
                                <span class="counter-three__plus">+</span>
                            </div>
                            <h3 class="counter-three__title">Student Entrepreneurs
							</h3>
                          
                            <div class="counter-three__icon">
                                <span class="icon-success"></span>
                            </div>
                        </div>
                    </div>
                    <!--Counter Three Single End-->
                    <!--Counter Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="counter-three__single">
                            <div class="counter-three__count-box">
                                <h3 class="odometer" data-count="1000">00</h3>
                                <span class="counter-three__plus">+</span>
                            </div>
                            <h3 class="counter-three__title">MSME Market Players
							</h3>
                            
                            <div class="counter-three__icon">
                                <span class="icon-employee"></span>
                            </div>
                        </div>
                    </div>
                    <!--Counter Three Single End-->
                    <!--Counter Three Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="counter-three__single counter-three__single-4">
                            <div class="counter-three__count-box">
                                <h3 class="odometer" data-count="10">00</h3>
                                <span class="counter-three__plus">+</span>
                            </div>
                            <h3 class="counter-three__title">Hackathons
							</h3>
                            
                            <div class="counter-three__icon">
                                <span class="icon-rating-stars"></span>
                            </div>
                        </div>
                    </div>
                    <!--Counter Three Single End-->
                </div>
            </div>
        </section>
        <!--Counter One End-->

    
<!-- key -->

        <section class="services-page-six">
            <div class="container h-auto">
                <div class=" grid  md:grid-cols-2 grid-cols-1 gap-4 lg:grid-cols-3 h-full ">
                    <!--Services Six Single Start-->
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-success"></span>
                            </div>
                            <h3 class="services-six__title"><a href="services-6.html">Support Startups</a>
                            </h3>
                            <p class="services-six__text">Identification, selection, and support startups across India with solutions in the construction / housing and with a special focus on affordable housing.</p>
                            
                        </div>
                    </div>
                    <!--Services Six Single End-->
                    <!--Services Six Single Start-->
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-ecosystem"></span>
                            </div>
                            <h3 class="services-six__title"><a href="services-6.html">Nurturing Early-Stage Entrepreneurs</a>
                            </h3>
                            <p class="services-six__text">Coordinating with Universities and colleges in Kerala to identify early-stage innovators in shelter tech and to extend CIH support to them through knowledge sharing, expert mentoring, domain specific workshops and bootcamps.</p>
                            
                        </div>
                    </div>
                    <!--Services Six Single End-->
                    <!--Services Six Single Start-->
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-maintenance"></span>
                            </div>
                            <h3 class="services-six__title"><a href="services-6.html">MSME support in the construction value chain</a></h3>
                            <p class="services-six__text">The Hub will organize training programs, workshops, and seminars to build the capacity of MSME’s in construction practices, including sustainable construction practices.</p>
                            
                        </div>
                    </div>
                    <!--Services Six Single End-->
                    <!--Services Six Single Start-->
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-industry"></span>
                            </div>
                            <h3 class="services-six__title">Industry Outreach</h3>
                            <p class="services-six__text">The Hub will facilitate networking and collaboration among stakeholders in the construction industry, investor and corporate connect events, business incubation, and mentorship programs.</p>
                            
                        </div>
                    </div>
                    <!--Services Six Single End-->
                    <!--Services Six Single Start-->
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-drilling-rig"></span>
                            </div>
                            <h3 class="services-six__title">Innovation and research</h3>
                            <p class="services-six__text">The Hub will support research and development of innovative technologies and materials for sustainable construction, including low-carbon building materials, smart buildings, and renewable energy systems.</p>
                            
                        </div>
                    </div>
                    <!--Services Six Single End-->
                    <!--Services Six Single Start-->
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-planning"></span>
                            </div>
                            <h3 class="services-six__title">Policy advocacy
                            
                            </h3>
                            <p class="services-six__text">The Hub will work with policymakers to advocate for sustainable construction policies and regulations that promote resource efficiency, environmental protection, and social responsibility.

                            </p>
                            
                        </div>
                    </div>
                    <div class="services-six__single h-auto">
                        <div class="">
                            <div class="services-six__icon">
                                <span class="icon-file"></span>
                            </div>
                            <h3 class="services-six__title">Access to funding

                            
                            </h3>
                            <p class="services-six__text">Paid PoC pilots to early-stage startups and access to funding at various stages through The Terwilliger Centre and KSUM network.                                                 

                            </p>
                            
                        </div>
                    </div>
                    <!--Services Six Single End-->
                </div>
            </div>
        </section>



        <section class="why-choose-two container">
            <div class="why-choose-two__shape-1 float-bob-x">
                <img src="assets/images/shapes/why-choose-two-shape-1.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="">
                            <div class=" wow slideInLeft" data-wow-delay="100ms"
                                data-wow-duration="2500ms">
                                <div class="">
                                    <img src=/cih_page/img/bbg.svg" alt="" class=" flex md:p-8 p-3 object-contain">
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 my-auto">
                        <div class="why-choose-two__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Benefits</span>
                                <!-- <h2 class="section-title__title">See why you should choose austry</h2> -->
                            </div>
                            <!-- <p class="why-choose-two__text">There are many variations of passages of available but the
                                majority have suffered. Alteration in some form, lipsum is simply free text by injected
                                humou or randomised words even believable.</p> -->
                            <ul class="list-unstyled why-choose-two__points">
                                <li>
                                    <div class="icon">
                                        <span class="icon-entrepreneur"></span>
                                    </div>
                                    <div class="content">
                                        <p>Benefit 01</p>
                                        <h4>Mentoring</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-industrial"></span>
                                    </div>
                                    <div class="content">
                                        <p>Benefit 02</p>
                                        <h4>Grants worth USD 150K</h4>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-file"></span>
                                    </div>
                                    <div class="content">
                                        <p>Benefit 03</p>
                                        <h4>Support through KSUM schemes</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits-one">
            <div class="benefits-one__shape-1 float-bob-x">
                <img src=/cih_page/img/focus.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 item-center my-auto">
                    
                        <div class="feature-three">
                            <div class=" my-auto items-center justify-center flex flex-col">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">Focus Sectors</span>
                                </div>
                                <div class=" my-auto grid sm:grid-cols-3 grid-cols-1 gap-4">
                                    <!--Feature Three Single Start-->
                                    <div class="wow fadeInUp" data-wow-delay="100ms">
                                        <div class="feature-three__single">
                                            <div class="feature-three__count-and-icon">
                                                <div class="feature-three__count"></div>
                                                <div class="feature-three__icon">
                                                    <span class="icon-construction"></span>
                                                </div>
                                            </div>
                                            <h3 class="feature-three__title">Construction</h3>
                                        </div>
                                    </div>
                                    <!--Feature Three Single End-->
                                    <!--Feature Three Single Start-->
                                    <div class="wow fadeInUp" data-wow-delay="200ms">
                                        <div class="feature-three__single">
                                            <div class="feature-three__count-and-icon">
                                                <div class="feature-three__count"></div>
                                                <div class="feature-three__icon">
                                                    <span class="icon-house"></span>
                                                </div>
                                            </div>
                                            <h3 class="feature-three__title">Housing</h3>
                                        </div>
                                    </div>
                                    <!--Feature Three Single End-->
                                    <!--Feature Three Single Start-->
                                    <div class="wow fadeInUp" data-wow-delay="300ms">
                                        <div class="feature-three__single">
                                            <div class="feature-three__count-and-icon">
                                                <div class="feature-three__count"></div>
                                                <div class="feature-three__icon">
                                                    <span class="icon-appartments"></span>
                                                </div>
                                            </div>
                                            <h3 class="feature-three__title">Real Estate</h3>
                                        </div>
                                    </div>
                                    <!--Feature Three Single End-->
                                    <!--Feature Three Single Start-->
                                    <div class="wow fadeInUp" data-wow-delay="400ms">
                                        <div class="feature-three__single">
                                            <div class="feature-three__count-and-icon">
                                                <div class="feature-three__count"></div>
                                                <div class="feature-three__icon">
                                                    <span class="icon-planet-earth"></span>
                                                </div>
                                            </div>
                                            <h3 class="feature-three__title">Green Building Materials</h3>
                                        </div>
                                    </div>

                                    <div class="wow fadeInUp" data-wow-delay="400ms">
                                        <div class="feature-three__single">
                                            <div class="feature-three__count-and-icon">
                                                <div class="feature-three__count"></div>
                                                <div class="feature-three__icon">
                                                    <span class="icon-green-power"></span>
                                                </div>
                                            </div>
                                            <h3 class="feature-three__title">Climate Tech &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                                        </div>
                                    </div>

                                    <div class="wow fadeInUp" data-wow-delay="400ms">
                                        <div class="feature-three__single">
                                            <div class="feature-three__count-and-icon">
                                                <div class="feature-three__count"></div>
                                                <div class="feature-three__icon">
                                                    <span class="icon-factory"></span>
                                                </div>
                                            </div>
                                            <h3 class="feature-three__title">Green Building Materials</h3>
                                        </div>
                                    </div>
                                    <!--Feature Three Single End-->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-xl-5">
                        <div class="benefits-one__right">
                            <div class="benefits-one__img clearfix">
                                <img src=/cih_page/img/AdobeStock_662191962 1.png" alt="">
                                <div class="benefits-one__counter-box">
                                    <!-- <ul class="list-unstyled benefits-one__counter">
                                        <li>
                                            <div class="benefits-one__counter-single">
                                                <div class="benefits-one__counter-icon">
                                                    <span class="icon-rating"></span>
                                                </div>
                                                <div class="benefits-one__counter-content count-box">
                                                    <h3 class="count-text" data-stop="87450" data-speed="1500">00</h3>
                                                    <p class="benefits-one__counter-text">happy customers</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="benefits-one__counter-single">
                                                <div class="benefits-one__counter-icon">
                                                    <span class="icon-file"></span>
                                                </div>
                                                <div class="benefits-one__counter-content count-box">
                                                    <h3 class="count-text" data-stop="34560" data-speed="1500">00</h3>
                                                    <p class="benefits-one__counter-text">Projects Completed</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!--need-->
        <!-- <section class="trusted-one">
            <div class="trusted-one__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                style="background-image: url(/cih_page/assets/images/backgrounds/trusted-one-bg.jpg);">
            </div>
            <div class="container">
                <div class="trusted-one__inner">
                    <div class="trusted-one__video-link">
                        <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                            <div class="trusted-one__video-icon">
                                <span class="fa fa-play"></span>
                                <i class="ripple"></i>
                            </div>
                        </a>
                    </div>
                    <h3 class="trusted-one__title count-box">Trusted By Additional Than <span class="count-text"
                            data-stop="450000" data-speed="1500">00</span> <br>Upbeat Individuals</h3>
                    <div class="trusted-one__btn-box">
                        <a href="about.html" class="trusted-one__btn thm-btn">Apply Now</a>
                    </div>
                </div>
            </div>
        </section> -->
        <!--Trusted One End-->

      <!-- need -->
        <!-- <section class="best-construction">
            <div class="best-construction__shape-1 float-bob-x">
                <img src="/cih_page/assets/images/shapes/best-construction-shape-1.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="best-construction__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">What Else We Do</span>
                                <h2 class="section-title__title">Best construction &
                                    building business</h2>
                            </div>
                            <h3 class="best-construction__title">committed to providing our customers with exceptional
                                service.</h3>
                            <p class="best-construction__text">Lorem Ipsum is simply dummy text of free available in
                                market the printing and typesetting industry has been the industry's standard dummy text
                                ever.</p>
                            <div class="best-construction__progress">
                                <div class="best-construction__progress-single">
                                    <h4 class="best-construction__progress-title">Construction</h4>
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="78%">
                                            <div class="count-text">78%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="best-construction__progress-single">
                                    <h4 class="best-construction__progress-title">Building</h4>
                                    <div class="bar marb-0">
                                        <div class="bar-inner count-bar" data-percent="60%">
                                            <div class="count-text">36%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="best-construction__right">
                            <div class="best-construction__img-box">
                                <div class="best-construction__img">
                                    <img src="/cih_page/assets/images/resources/best-construction-img-1.jpg" alt="">
                                </div>
                                <div class="best-construction__name">
                                    <p>Austry Construction</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--Best Construction End-->

      <!-- timtline -->
<!-- <section class=" container ">
    <div class="container-fluid">
        <div class="row example-basic">
           
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <ul class="timeline">
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>December 15, 2023</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Application Start Date</h3>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>January 15, 2024</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Application Deadline
                            </h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>January 20, 2024</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Screening phase 1</h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>January 31, 2024</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Screening phase 2</h3>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>February 5, 2024</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Program Launch</h3>
                        </div>
                    </li>
                    <li class="timeline-item period">
                        <div class="timeline-info"></div>
                        <div class="timeline-marker"></div>
                        
                    </li>
                   
                </ul>
            </div>
        </div>
       
    </div>
</section> -->


<section class="process-one">
    <div class="process-one__bg" style="background-image: url(/img/tm1.png);">
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Process Flow
            </span>
        </div>
        <div class=" grid lg:grid-cols-5 md:grid-cols-2 grid-cols-1">
            <!--Process One Single Start-->
            <div class="wow fadeInUp mx-auto text-center" data-wow-delay="100ms">
                <div class="process-one__single">
                    <div class="process-one__icon mx-auto">
                        <span class="icon-chat"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Application Start Date</h4>
                    <p class="process-one__text">15th December 2023</p>
                </div>
            </div>
            <!--Process One Single End-->
            <!--Process One Single Start-->
            <div class="wow fadeInUp mx-auto text-center" data-wow-delay="200ms">
                <div class="process-one__single">
                    <div class="process-one__icon mx-auto">
                        <span class="icon-planning"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Application Deadline</h4>
                    <p class="process-one__text">15th January 2024</p>
                </div>
            </div>
            <!--Process One Single End-->
            <!--Process One Single Start-->
            <div class="wow fadeInUp mx-auto text-center" data-wow-delay="300ms">
                <div class="process-one__single">
                    <div class="process-one__icon mx-auto">
                        <span class="icon-quality"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Screening phase 1</h4>
                    <p class="process-one__text">20th January 2024
                    </p>
                </div>
            </div>
            <!--Process One Single End-->
            <!--Process One Single Start-->
            <div class="wow fadeInUp mx-auto text-center" data-wow-delay="400ms">
                <div class="process-one__single">
                    <div class="process-one__icon mx-auto">
                        <span class="icon-file"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Screening phase 2
                    </h4>
                    <p class="process-one__text">31st January 2024
                    </p>
                </div>
            </div>

            <div class="wow fadeInUp mx-auto text-center" data-wow-delay="400ms">
                <div class="process-one__single">
                    <div class="process-one__icon mx-auto">
                        <span class="icon-success"></span>
                        <div class="process-one__count"></div>
                    </div>
                    <h4 class="process-one__title">Program Launch
                    </h4>
                    <p class="process-one__text">5th February 2024
                    </p>
                </div>
            </div>
            <!--Process One Single End-->
        </div>
    </div>
</section>




   


   <section class="team-two">
    <div class="team-two__shape-2" style="background-image: url(/cih_page/assets/images/shapes/team-two-shape-2.png);">
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Advisory Committee members</span>
        </div>
        <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
            <!--Team Two Single Start-->
            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/anuj.jpg" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/mehranuj/?originalSubdomain=in" target="_blank"><img src=/cih_page/img/ll.svg" class="w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Anuj Mehra</h3>
                        <p class="team-two__sub-title"> Ex MD- Mahindra Home Finance , Impact Investment Mentor, Independent Director - Adani Housing Finance. </p>
                       
                    </div>
                </div>
            </div>
           
            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/Bharat-Jaisinghani_1 1.png" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/bharat-jaisinghani-b9ab6b28/?originalSubdomain=in" target="_blank"><img src=/cih_page/img/ll.svg" class="w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Bharat Jaisighani</h3>
                        <p class="team-two__sub-title">Executive Director – Polycab India Limited </p>
                       
                    </div>
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/f0caa3d9af1e1e7e051c8977d11e1112 1.png" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/harish-anand-a29a7811/?originalSubdomain=ae" target="_blank"><img src=/cih_page/img/ll.svg" class="w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Harish Anand</h3>
                        <p class="team-two__sub-title">Head - Group Corporate Infra Projects, Landmark Group
                        </p>
                       
                    </div>
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/Adithya.jpg" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/adithyavs1993/" target="_blank"><img src=/cih_page/img/ll.svg" class="w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Adithya Jain</h3>
                        <p class="team-two__sub-title">CEO, Founder TVASTA Manufacturing Solutions
                            Gopikrishnan - Founder  BuildNext 
                            </p>
                       
                    </div>
                </div>
            </div>


            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/Dhaval-Monanai-removebg-preview 1.png" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/dhavalmonani/?originalSubdomain=in" target="_blank"><img src=/cih_page/img/ll.svg" class="w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Dhaval Monani</h3>
                        <p class="team-two__sub-title">Associate Professor & Director of Housing, Anant National University and Advisory Board Member – TCIS</p>
                       
                    </div>
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/anoop.jpg" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/anoopambika/?originalSubdomain=in" target="_blank"><img src=/cih_page/img/ll.svg" class=" w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Anoop Ambika</h3>
                        <p class="team-two__sub-title">CEO -Kerala Startup Mission</p>
                       
                    </div>
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="100ms">
                <div class="team-two__single">
                    <div class="team-two__img-box">
                        <div class="team-two__img">
                            <img src=/cih_page/img/1526565122925 1.png" alt="">
                        </div>
                        <ul class="list-unstyled team-two__social  bottom-0">
                            <li><a href="https://www.linkedin.com/in/anoop-nambiar/" target="_blank"><img src=/cih_page/img/ll.svg" class="w-6"></a></li>
                           
                        </ul>
                    </div>
                    <div class="team-two__content text-left">
                        <h3 class="team-two__name">Anoop Nambiar</h3>
                        <p class="team-two__sub-title">Country Director, TCIS 
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<section class=" mx-auto flex flex-col pt-24">
    <div class="section-title text-center mx-auto">
        <span class="section-title__tagline">Partners
        </span>
    </div>
    <div class=" mx-auto w-2/4">
        <div class=" grid sm:grid-cols-3 grid-cols-1 gap-4">
            <div class=" ">
                <img src=/cih_page/img/p1.png">
            </div>
            <div class=" ">
                <img src=/cih_page/img/p2.png">
            </div>
            <div class=" ">
                <img src=/cih_page/img/p3.png">
            </div>
        </div>
    </div>
</section>

   
        <div id="overlay" class="overlay z-40">
            <div class="popup-form lg:w-3/5 md:w-3/4  h-5/6 w-full relative">
            
            <span class="z-50 close-btn absolute  top-0 right-0 text-black cursor-pointer"  onclick="closeForm()"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            
            </span>
            
            <iframe src="https://zfrmz.com/Gyw3T0Aixy6nxI2q4qeW" class=" w-full h-full"></iframe>
            </div>
        </div>
</div>



    
</Layout>

<script is:inline>
	function openForm() {
	  document.getElementById("overlay").style.display = "flex";
	}
  
	function closeForm() {
	  document.getElementById("overlay").style.display = "none";
	}
  </script>


<script is:inline>
	 function toggleParagraph() {
      var paragraph = document.getElementById("ab2");
      var button = document.getElementById("button");

      if (paragraph.style.display === "none") {
        paragraph.style.display = "block";
        button.innerHTML = "Read less";
      } else {
        paragraph.style.display = "none";
        button.innerHTML = "Read more";
      }
    }
</script>

<style>
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    .popup-form {
      background-color: white;
      padding: 20px;
	  padding-top: 30px;
      border-radius: 2px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

  </style>


<style lang="scss">
$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);


.example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
    h1 {
        color: #FFF;
        font-weight: 300;
        margin-bottom: 20px
    }
    p {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
    }
}
.container-fluid {
    .row {
        padding: 0 0 4em 0;
        &:nth-child(even) {
            background: #F1F4F5;
        }
    }
}

.example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
    p {
        margin: 0 auto;
        font-size: 16px;
        max-width: 400px;
    }
}

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: $primary-color;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px; left: 0;
            width: 15px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 3px;
            background: #CCD5DB;
            display: block;
            position: absolute;
            top: 24px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid $primary-color;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
    }

    /*----- TIMELINE PERIOD -----*/
    
    .period {
        padding: 0;
        .timeline-info {
            display: none;
        }
        .timeline-marker {
            &:before {
                background: transparent;
                content: "";
                width: 15px;
                height: auto;
                border: none;
                border-radius: 0;
                top: 0;
                bottom: 30px;
                position: absolute;
                border-top: 3px solid #CCD5DB;
                border-bottom: 3px solid #CCD5DB;
            }
            &:after {
                content: "";
                height: 32px;
                top: auto;
            }
        }
        .timeline-content {
            padding: 40px 0 70px;
        }
        .timeline-title {
            margin: 0;
        }
    }

    /*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

        .timeline-split {
            @media (min-width: 768px) {
                .timeline {
                    display: table;
                }
                .timeline-item {
                    display: table-row;
                    padding: 0;
                }
                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }
                .timeline-marker {
                    position: relative;
                }
                .timeline-content {
                    padding-left: 30px;
                }
                .timeline-info {
                    padding-right: 30px;
                }
                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
        }

    /*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

        .timeline-centered {
            @extend .timeline-split;
            @media (min-width: 992px) {
                &,
                .timeline-item,
                .timeline-info,
                .timeline-marker,
                .timeline-content {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                .timeline-item {
                    padding-bottom: 40px;
                    overflow: hidden;
                }
                .timeline-marker {
                    position: absolute;
                    left: 50%;
                    margin-left: -7.5px;
                }
                .timeline-info,
                .timeline-content {
                    width: 50%;
                }
                > .timeline-item:nth-child(odd) .timeline-info {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item:nth-child(odd) .timeline-content {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }    
                > .timeline-item:nth-child(even) .timeline-info {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-content {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item.period .timeline-content {
                    float: none;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .timeline-item.period {
                    padding: 50px 0 90px;
                }
                .period .timeline-marker:after {
                    height: 30px;
                    bottom: 0;
                    top: auto;
                }
                .period .timeline-title {
                    left: auto;
                }
            }
        }

    /*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
        
        .marker-outline {
            .timeline-marker {
                &:before {
                    background: transparent;
                    border-color: $primary-color;
                }
            }
            .timeline-item:hover .timeline-marker:before {
                background: $primary-color;
            }
        }
</style>