

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Construction Innovation Hub</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/cih_page/assets/images/img/logo.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/cih_page/assets/images/img/logo.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="/cih_page/assets/images/img/logo.svg" />
    <link rel="manifest" href="/cih_page/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="austry HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" >

    <link rel="stylesheet" href="/cih_page/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/austry-icons/style.css">
    <link rel="stylesheet" href="/cih_page/assets/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/cih_page/assets/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" is:global href="/cih_page/assets/css/austry.css" / >
    <link rel="stylesheet" is:global href="/cih_page/assets/css/austry-responsive.css" />
</head>
	<body>
		
		<slot />


		<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="/cih_page/assets/vendors/jquery/jquery-3.6.0.min.js" is:inline ></script>
    <script src="/cih_page/assets/vendors/bootstrap/js/bootstrap.bundle.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jarallax/jarallax.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jquery-appear/jquery.appear.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jquery-validate/jquery.validate.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/nouislider/nouislider.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/odometer/odometer.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/swiper/swiper.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/tiny-slider/tiny-slider.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/wnumb/wNumb.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/wow/wow.js" is:inline></script>
    <script src="/cih_page/assets/vendors/isotope/isotope.js" is:inline></script>
    <script src="/cih_page/assets/vendors/countdown/countdown.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/owl-carousel/owl.carousel.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/bxslider/jquery.bxslider.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/bootstrap-select/js/bootstrap-select.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/vegas/vegas.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/jquery-ui/jquery-ui.js" is:inline></script>
    <script src="/cih_page/assets/vendors/timepicker/timePicker.js" is:inline></script>
    <script src="/cih_page/assets/vendors/circleType/jquery.circleType.js" is:inline></script>
    <script src="/cih_page/assets/vendors/circleType/jquery.lettering.min.js" is:inline></script>
    <script src="/cih_page/assets/vendors/sidebar-content/jquery-sidebar-content.js" is:inline></script>




    <!-- template js -->
    <script src="/cih_page/assets/js/austry.js" is:inline></script>
	</body>
</html>
